<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/post.css">
    <title>Редактор поста</title>
</head>
<body>
    <div class="wrapper">
         <section class="header">

            <header class="header-container header-container--bg-color">

                <div class="header-content container">

                    <div class="header__logo">Ваш блог</div>
    
                    <nav class="menu">
    
                        <ul class="menu__list">
    
                            <li class="menu__list__item">
                                <a class="menu__list__item__link" href="/home">Главная</a>
                                <span class="menu__list__item__line"></span>
                            </li>
    
                            <li class="menu__list__item">
                                <a class="menu__list__item__link menu__list__item__link--active" href="#">Написать пост</a>
                                <span class="menu__list__item__line"></span>
                            </li>
    
                            <li class="menu__list__item">
                                <a class="menu__list__item__link" href="/profile">Профиль</a>
                                <span class="menu__list__item__line"></span>
                            </li>
    
                        </ul>
    
                    </nav>

                </div>

            </header>

            <main class="post-container container">
                <form class="post" action="/setpost" method="post">
                    <div class="post__header">
                        <div class="post__header__item post__item--margin-bottom">
                            <button class="btn btn-registr post__btn" id="post-btn-submit" type="submit">Опубликовать</button>
                            <span class="post__error" id="post-error">Error</span>
                            <button class="btn btn--red post__btn" id="post-btn-delete" type="reset">Очистить</button>
                        </div>
                        <div class="post__header__item post__item--column post__item--margin-bottom">
                            <label class="post__label" for="post-title">Название поста</label>
                            <input class="post__title" type="text" name="postTitle" id="post-title" placeholder="Введите название поста">
                        </div>
                        <div class="post__header__item post__item--row-center post__item--margin-bottom">
                            <label class="post__label post__label--margin-none" for="post-tag">Выберите тег</label>
                            <select class="post__select" name="postTag" id="post-tag">
                                <option value="Мотивация">Мотивация</option>
                                <option value="Путешествие">Путешествие</option>
                                <option value="Финансы">Финансы</option>
                                <option value="IT">IT</option>
                                <option value="Политика">Политика</option>
                                <option value="Ремонт">Ремонт</option>
                                <option value="Хобби">Хобби</option>
                                <option value="О всяком">О всяком</option>
                            </select>
                        </div>
                    </div>
                    <div class="post__main post__item--column">
                        <label class="post__label" for="post-text">Содержание</label>
                        <textarea  class="post__text" type="text" name="postText" id="post-text" placeholder="Введите содержание поста"></textarea>
                    </div>
                </form>
            </main>

        </section>
    </div>

    <script src="/js/post.js"></script>
</body>
</html>